body {
    font-family: Montserrat; 
    background-color: #b7b7b7;
    color: #000000;
    margin: 0;
    padding: 0;
}

#menu {
    overflow: hidden;
    font-size: 55px;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 2px;
}

#menu a {
    color: #f2f2f2;
    margin: 0 200px;
    text-decoration: none;
}

.cima img {
    display: block;
    width: 100%;
}

.carros {
    margin-top: 275px;
    margin-bottom: 275px;
    display: flex;
    font-size: 80px;
    padding: auto;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.meio {
    border: 4.5px solid rgb(0, 0, 0);
    border-radius: 50px;
    text-align: center;
    font-size: larger;
    font-size: 75px;
    line-height: 2;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.meio img {
    width: 100%;
    image-rendering: auto;
    background-image: initial;
}

.meio .v {
    font-size: larger;
    font-size: 50px;
    border: 4px solid rgb(0, 0, 0);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 55px;
}

.info {
    margin-top: 0px;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.baixo {
    position: relative;
    margin-top: 130px;
}

.baixo .v2 {
    color: #c1c1c1;
    border-radius: 10px;
    border: 5px solid rgb(188, 188, 188);
    font-size: larger;
    font-size: 65px;
    margin: 10px;
    margin-right: 0;
    margin-top: 5px;
}

.baixo img.Inferior {
    width: 100%;
}

.fosco {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 55.4%;
    height: 99.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: auto;
    margin: auto;
    padding: 60px;
    box-sizing: border-box;
    background: url('images/Fosco.png') no-repeat center center;
    background-size: cover;
}

.cima-texto {
    text-align: justify;
    color: white;
    padding: 5px;
    font-size: 65px;
    margin-right: 10px;
    line-height: 2;
}

.titulo {
    color: #c1c1c1;
    font-size: 200px;
    margin-right: 10px; 
    font-family: Montserrat;
    position: right;
    top: 10px;
    left: 10px;
}
